# Database
DATABASE_URL=

# Server
NODE_ENV=
PORT=3000

# JWT
ACCESS_SECRET=
REFRESH_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_EXPIRY=

# Logger
LOG_LEVEL=debug

# Cloudinary
CLOUDINARY_CLOUD=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Cookies
ACCESS_COOKIE_MAX_AGE_MS=
REFRESH_COOKIE_MAX_AGE_MS=
